* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fff;
  width: 100%;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #f5f5f5;
}

.img-container img {
  height: 45px;
  margin-top: 10px;
}

/* Navigation Menu */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  position: relative;
}

.link-items a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding-right: 15px;
  position: relative;
}

.link-items:hover>a {
  color: #23b0e6;
}

.link-items {
  position: relative;
}

/* Dropdown menu container */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 6px;
  min-width: 180px;
  list-style: none;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 20;
}

/* Dropdown links */
.dropdown li a {
  display: block;
  width: 100%;
  padding: 10px 18px;
  color: #000;
  text-align: left;
  background-color: transparent !important;
  border-radius: 0 !important;
}

/* Show dropdown */
.link-items:hover .dropdown {
  display: block;
}

/* Dropdown links */
.dropdown li a {
  display: block;
  width: 100%;
  padding: 10px 18px;
  color: #000;
  text-align: left;
  background-color: transparent !important;
  border-radius: 0 !important;
}

.link-items:hover .dropdown {
  display: block;
}

.dropdown li a:hover {
  background-color: #f3f3f3;
}

/* Show dropdown on hover */
.link-items:hover .dropdown {
  display: block;
}

/* Arrow for dropdowns */
.link-items:has(.dropdown)>a::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-135deg);
  margin-left: 6px;
  transition: 0.2s ease;
}

.link-items:hover>a::after {
  transform: rotate(45deg);
  border-color: #23b0e6;
}

/* Search icon */
.nav-links li:last-child>a {
  background-color: #d4a537;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.nav-links li:last-child>a:hover {
  background-color: #000ed3;
}

.nav-links li:last-child>a i {
  color: #fff;
  font-size: 15px;
}

/* Hamburger (hidden on desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  display: block;
}

/* Hero carousel */
.hero-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero-carousel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Hero content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}

/* hero section buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-buttons button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* partner button */
.btn-partner {
  background-color: #6b2d8f;
  color: #fff;
  transition: background 0.3s ease;
}

.btn-partner:hover {
  background-color: #f0f4f8;
  color: #6b2d8f;
}

/* Explore button */
.btn-explore {
  background-color: #C0FF33;
  color: #fff;
  transition: background 0.3s ease;
}

.btn-explore:hover {
  background-color: white;
  color: #6da000;
}

/* Talent Button */
.btn-talent {
  background-color: #fff;
  color: #222;
  transition: background 0.3s ease;
}

.btn-talent:hover {
  background-color: #222;
  color: white;
}

/* About Section */
.about-section {
  padding: 60px;
  background-color: #f5f5f5;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* left 50% & righr 50%*/
  align-items: center;
  gap: 30px;
  background-color: #f5f5f5;
}

/* Left text content */
.about-text {
  display: flex;
  flex-direction: column;
}

.about-text h2 {
  font-size: 32px;
  font-weight: bold;
  color: #6d2d8f;
  /* purple */
  margin-bottom: 10px;
}

.about-text h3 {
  color: #00bfa5;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-text p {
  color: darkgray;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Right image content */
.about-image {
  text-align: center;
  padding: 60px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Learn button */
.about-text .btn-learn {
  background-color: #C0FF33;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: solid 1px #C0FF33;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 180px;
}

.about-text .btn-learn:hover {
  background-color: transparent;
  color: #6da000;

}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text,
  .about-image {
    flex: 1 1 100%;
  }

  .about-text h3 {
    font-size: 28px;
  }
}

/* Featured Courses Section */
.featured-courses {
  padding: 30px;
  gap: 30px;
  background-color: #f5f5f5;
  text-align: center;
}

/* Section headers */
.featured-courses .section-header h4 {
  color: #00bfa5;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.featured-courses .section-header h1 {
  color: #6b2d8f;
  font-size: large;
  font-weight: bold;
  margin-bottom: 50px;
}

.courses-container {
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  gap: 30px;
}

/* course cards*/
.course-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  min-width: 250px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-card h3 {
  color: #6b2d8f;
}

.course-card p {
  color: rgb(61, 61, 61);
}

/* Responsive: stack vertically on smaller screens */
@media (max-width: 950px) {
  .courses-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .course-card {
    width: 50%;
    max-width: 400px;
  }
}

.course-card .btn-course {
  background-color: #C0FF33;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #C0FF33;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
  align-self: flex-start;
}

.course-card .btn-course:hover {
  background-color: #fff;
  color: #6da000;
}


/* Footer */
.site-footer {
  background: #2c1a4d;
  color: #fff;
  padding: 60px 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Footer columns */
.footer-col {
  flex: 1 1 220px;
  min-width: 200px;
}

.footer-logo {
  padding: 20px 0;
}

.footer-logo img {
  width: 250px;
  height: 80px;
}

.footer-col h2 {
  color: teal;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col p,
.footer-col span,
.footer-col a {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.fa-instagram {
  background: linear-gradient(100deg, #AB08E8, #F60C52, #F7AA01);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s;
}

.fa-instagram:hover {
  background: linear-gradient(100deg, #710997, #b10438, #b37a01);
}

.fa-facebook-f {
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.fa-facebook-f:hover {
  background: rgb(7, 7, 156);
}

.fa-twitter {
  background: rgb(0, 140, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.fa-twitter:hover {
  background: rgb(0, 97, 177);
}

.fa-linkedin-in {
  background: rgb(7, 78, 136);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.fa-linkedin-in:hover {
  background: rgb(5, 60, 105);
}

.fa-youtube {
  background: rgb(202, 10, 10);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.fa-youtube:hover {
  background: rgb(129, 8, 8);
}

.social-icons a {
  text-decoration: none
}


/* Resources links */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #23b0e6;
}

.footer-col h3 a {
  color: teal;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease;
}

.footer-col h3 a:hover {
  color: #44ffe6;
}

/* Contact items */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item i {
  color: #23b0e6;
}

/* Horizontal line and copyright */
.site-footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 30px 0;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

/* – max-width: 768px */
@media (max-width: 768px) {

  /* Header */
  .header-container {
    padding: 10px 15px;
  }

  .img-container img {
    height: 30px;
  }

  /* Removes Navigation menu */
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 200px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  /* Show hamburger */
  .hamburger {
    display: flex;
  }

  .link-items:has(.dropdown)>a::after {
    display: none;
  }

  .hero-carousel {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 16px;
  }

  /* About */
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image {
    padding: 20px;
  }

  /* Courses: stack vertically */
  .courses-container {
    grid-template-columns: 1fr;
  }

  .course-card {
    width: 100%;
  }

  /* Footer */
  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}


/* TABLET – max-width: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

  /* Header */
  .header-container {
    padding: 10px 40px;
  }

  .nav-links {
    gap: 18px;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content p {
    font-size: 20px;
  }

  /* About */
  .about-container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .about-image {
    padding: 20px;
  }

  /* Courses: 2 per row */
  .courses-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* DESKTOP – min-width: 1025px */
@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .courses-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
  }
}